on init
    # Set up the BFQIO hierarchy
    mkdir /dev/bfqio 0755 root system
    mount cgroup none /dev/bfqio bfqio
    chown root system /dev/bfqio/tasks
    chmod 0664 /dev/bfqio/tasks
    chmod 0220 /dev/bfqio/cgroup.event_control

    # Soft realtime class for display service
    mkdir /dev/bfqio/rt-display 0755 root system
    write /dev/bfqio/rt-display/bfqio.ioprio_class 1
    chown system system /dev/bfqio/rt-display/tasks
    chmod 0664 /dev/bfqio/rt-display/tasks
    chmod 0220 /dev/bfqio/rt-display/cgroup.event_control

on post-fs-data
    # Change permissions on fsck log so it can be added to the dropbox
    chown root log /dev/fscklogs/log
    chmod 0640 /dev/fscklogs/log
